.Card .card {
  border-radius: 8px; /* used for highlights or when images aren't available */
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  height: 158px;
  margin: 5px 3px;
  padding: 6px;
  position: relative;
  vertical-align: text-top;
  white-space: normal;
  width: 102px;
  z-index: 0; /* Explicit z-index for transition. */
}
.Card .card,
.Card .image {
  transition: .2s all;
}
.Card .faceDown,
.Card .faceDown .image {
  transition: .3s all;
}
.Card:hover .card {
  transform: scale(1.5);
  z-index: 100; /* 100 is enough that the easing works well when multiple cards are transitioning. */
}
/* The high z-index guarantees the images switch 'front-to-back' at the right time. */
.Card .faceDown .cardBack,
.Card:hover .faceDown .cardFront {
  transform: none;
  z-index: 100;
}
.Card .faceDown .cardFront,
.Card:hover .faceDown .cardBack,
.Card:hover .faceDown .textFallback {
  transform: rotateY(180deg);
  z-index: 0;
}
.Card .image {
  background: center no-repeat;
  background-size: contain;
  border-radius: 8px; /* used to crop image */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Card .selected .image {
  border-radius: 8px;
  box-shadow: 0 0 0px 3px red;
}
.Card .unplayable:not(:hover) {
  -webkit-filter: grayscale(40%) opacity(66.7%);
  filter: grayscale(40%) opacity(66.7%);
}
.Card .free {
  box-shadow: 0 0 0px 3px gold;
}
.Card .last {
  box-shadow: 0 0 0px 3px cornflowerblue;
}
