.ResourcePicker .multi {
  background-image: -webkit-linear-gradient(90deg, rgba(210,151,50,0) 25%,rgba(210,151,50,1) 25%,rgba(210,151,50,1) 75%,rgba(210,151,50,0) 75%);
  background-image: linear-gradient(90deg, rgba(210,151,50,0) 25%,rgba(210,151,50,1) 25%,rgba(210,151,50,1) 75%,rgba(210,151,50,0) 75%);
  display: inline-flex;
}
