.board {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 395px;
  height: 173px;
  position: relative;
}
.back-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 102px;
  transition: .2s all;
}
.back-container:hover {
  transform: rotateY(180deg);
  z-index: 1;
}
.wonder {
  padding: 0 11px 57px;
  position: relative;
}
