.WonderBoard {
  margin-bottom: 20px;
  padding: 0 14px 60px;
  position: relative;
}
.WonderBoard .board {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 395px;
  height: 173px;
  position: relative;
}
.WonderBoard .builtCard {
  position: absolute;
  bottom: 0;
}
